* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 252, 245, 255);
}
/* -------------------------SIGN UP STYLE------------ */
.haveAnAccount {
    font-size: 12px;
    padding-top: 0.4rem;
    color: grey;
    text-align: right;
}

.haveAnAccount a {
    text-decoration: none;
    font-weight: 600;
}

.authBtn {
    background-color: rgb(243, 190, 46);
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: none;
}
/* --------------HOME STYLE-------------- */

.commonWrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0;
}

.topBannerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bannerBox1Container {
    width: 58%;
    display: flex;
    flex-direction: row;
    background-color: #fc4b37;
    border-radius: 25px;
    padding: 1rem 2rem 1rem 2rem;
}

.bannerBox1_left {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.bannerBox1_left h1 {
    color: white;
    font-size: 2.5rem;
}

.bannerBox1_right {
    padding-top: 1rem;
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-end;
}

.arrowBtn {
    background-color: #2e2e2e;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 49px;
    cursor: pointer;
}

.arrowIcon {
    transform: translateY(-4px);
}

.bannerBox2Container {
    background-image: url('.././../public/images/pic2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
    border-radius: 25px;
    width: 40%;
}

.bottomBannerWrapper {
    margin: 1.5rem 0 2rem 0;
}

.bannerBox3Container {
    background-color: #c7e7fe;
}

.bannerBox3_left {
    flex: 3;
    align-items: flex-start;
}

.bannerBox3_right {
    flex: 1;
    padding-top: 0;
    flex-direction: column;
}

.buyNowContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.buyNowContainer h3 {
    padding-top: 1rem;
}

.bannerBox4Container {
    background-color: #e6b1ab;
    border-radius: 25px;
    width: 40%;
    padding: 1rem 1.5rem;
}

.iconContainer {
    display: flex;
    font-size: 20px;
    padding-bottom: 0.6rem;
}

.commonCircle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fa4c3b;
        color: #fdfefe;
}

.icon {
    width: 100%;
    transform: translateY(5px);
}

.appleIconContainer {
    background-color: #fdfefe;
        color: #fa4c3b;
}

.bannerBox4Container p {
    font-size: 11px;
    padding: 0.4rem 0;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.ratingIconContainer {
    padding-left: 5px;
    padding-top: 3px;
    color: #fa4c3b;
    font-size: 8px;
}
.recipeWrapper {
    background-color: #f9ebea;
    border-radius: 25px;
    margin: 4rem 0 2rem 0;
    padding: 2rem;
}

.recipeHeaderBox {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipeTopicContainer {
    width: 30%;
}

.searchInputContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.iconSearchBox {
    width: 40%;
    border-radius: 25px;
    border: 1.5px solid grey;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 22px;
    width: 12%;
    color: grey;
    cursor: pointer;
}

.searchInput {
    padding: 0.6rem 1rem 0.6rem 0;
    width: 88%;
    border: none;
    outline: transparent;
    background-color: inherit;
    cursor: pointer;
}

.searchInput::placeholder {
    color: grey;
}

.recipeBottomBox {
    display: flex;
    gap: 1.5rem;
}

.recipeButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.recipeBgContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    background-position: center 50%;
    flex: 7;
    min-height: 280px;
}

.dishContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dishContainer div {
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.dishBox1 {
    background-image: url('../../public/images/pizza6.jpg');
    background-position: right 50%;
}

.dishBox2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../../public/images/pizza.jpg');
    background-position: center 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dishBox2 p {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

/* ------------------------GALLERY STYLE--------------------- */
.galleryWrapper {
    display: flex;
}

.galleryWrapper section {
    height: auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
        flex-direction: row;
}
.galleryItem {
    width: 50%;
    padding: 1rem;
}

/* -----------------------RECIPE DETAIL STYLE----------------------- */
.recipeDetailContainer {
    /* background-color: red; */
}

.detailTopSection {
    border-radius: 25px;
    display: flex;
    gap: 4rem;
}

.recipeImageContainer {
    flex: 3;
    min-height: 50vh;
}

.recipeImage {
    background-position: center 50%;
    height: 100%;
}

.recipeTitleContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.recipeTitleContainer h1 {
    font-size: 40px;
    font-weight: 900;
}

.cookDetailContainer {
    display: flex;
    gap: 1rem;
}

.cookDetailContainer p {
    border: 2px solid #e6b1ab;
    padding: 0.4rem 0.8rem;
    border-radius: 25px;
    font-size: 12px;
}

.cookDetailContainer p span {
    font-weight: 600;
    color: black;
}

.detailBottomSection {
    display: flex;
    gap: 4rem;
    padding: 2rem 0;
}

.ingredientsContainer {
    flex: 3;
}

.ingredientTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredientsListContainer {
    padding: 1.5rem 0 1rem 0;
}

.ingredientRow {
    display: flex;
    align-items: center;
    padding: 0 0 1.6rem 0;
}

.ingredientContent {
    display: flex;
    align-items: center;
    flex: 3;
    gap: 1.3rem;
}

.vegetableIcon {
    background-color: #e6b1ab;
    padding: 0.2rem 0.4rem;
    border-radius: 25px;
}

.ingredientName {
    font-size: 13px;
    font-weight: 600;
}

.ingredientFeature {
    font-size: 11px;
    padding-top: 0.2rem;
}

.gramContent {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.gramContent p {
    font-size: 13px;
    font-weight: 600;
}

.instructionsContainer {
    flex: 4;
}

.instructionsContainer h2 {
    padding-bottom: 1.5rem;
}

.instructionsContainer p {
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 1rem;
}