* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------------SIGN UP STYLE------------ */
.signUpWrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
}

.leftSignUpContainer {
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSignUpContent {
    height: 100%;
    width: 60%;
    padding: 4rem 0;
}

.leftSignUpContent h1 {
    padding-bottom: 1rem;
}

.leftSignUpContent p {
    font-size: 12px;
    padding-top: 0.4rem;
    color: grey;
    text-align: right;
}

.leftSignUpContent a {
    text-decoration: none;
    font-weight: 600;
}

.signUpBtn {
    background-color: rgb(243, 190, 46);
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: none;
}

.rightSignUpContainer {
    background-color: rgb(243, 190, 46);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassBg {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 80%;
    height: 80vh;
    border-radius: 25px;
    position: relative;
}

.circleContainer {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.positionIcon1 {
    left: -20px;
    top: 70%;
}

.handShakeIcon {
    transform: translate(12px, 14px);
    font-size: 25px;
}

.positionIcon2 {
    right: -20px;
    bottom: 70%;
}

.pointsIcon {
    transform: translate(10px, 10px);
    font-size: 20px;
}

.glassContent {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.glassContent h1 {
    color: white;
    display: flex;
    flex: 2;
}

.signUpImageContainer {
    flex: 3;
    display: flex;
    align-items: flex-end;
}

.signUpImageContainer img {
    width: 100%;
    height: auto;
    transform: translateY(13px);
}
/* --------------HOME STYLE-------------- */

.homeWrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0;
}

.topBannerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bannerBox1Container {
    width: 58%;
    display: flex;
    flex-direction: row;
    background-color: red;
    border-radius: 25px;
    padding: 1rem 2rem 1rem 2rem;
}

.bannerBox1_left {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.foodForeverBtn {
    background-color: inherit;
    border: 2px solid white;
    padding: 0.3rem 0.4rem;
}

.bannerBox1_left h1 {
    color: white;
    font-size: 2.5rem;
}

.orderNowBtn {
    background-color: black;
    padding: 0.5rem 1rem;
    border: none;
}

.bannerBox1_right {
    padding-top: 1rem;
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-end;
}

.arrowBtn {
    background-color: black;
    border-radius: 50%;
    border: none;
    height: 40px;
        width: 49px;
}

.arrowIcon {
    transform: translateY(-4px);
}

.bannerBox2Container {
    background-image: url('.././../public/images/pic2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
    border-radius: 25px;
    width: 40%;
}

.bottomBannerWrapper {
    margin-top: 1.5rem;
}

.bannerBox3Container {
    background-color: lightblue;
}

.bannerBox3_left {
    flex: 3;
    align-items: flex-start;
}

.bannerBox3_right {
    flex: 1;
    padding-top: 0;
    flex-direction: column;
}

.buyNowContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.buyNowContainer h3 {
    padding-top: 1rem;
}

.bannerBox4Container {
    background-color: rgb(249, 150, 150);
    border-radius: 25px;
    width: 40%;
    padding: 1rem 1.5rem;
}

.iconContainer {
    display: flex;
    font-size: 20px;
    padding-bottom: 0.6rem;
}

.commonCircle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.icon {
    width: 100%;
    transform: translateY(5px);
}

.appleIconContainer {
    background-color: white;
    color: red;
}

.bannerBox4Container p {
    font-size: 11px;
    padding: 0.4rem 0;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.ratingIconContainer {
    padding-left: 5px;
    padding-top: 3px;
    color: red;
    font-size: 8px;
}